<p id="notice"><%= notice %></p>

<div id="tablePage">



<h1>Skateboards</h1>


<table>
  <thead>
    <tr>
      <th>Design</th>
      <th>Type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skateboards.each do |skateboard| %>
      <tr>
        <td><%= skateboard.design %></td>
        <td><%= skateboard.board_type %></td>
        <td><%= skateboard.user_id %></td>
        <td><%= link_to 'Show', skateboard %></td>
        <td><%= link_to 'Edit', edit_skateboard_path(skateboard) %></td>
        <td><%= link_to 'Destroy', skateboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<div id="form">
<p>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</p>
<% else %>
<p>
    <%= link_to('Login', new_user_session_path) %>
</p>
<% end %>
<%= link_to 'New Skateboard', new_skateboard_path %>
</div>

</div>
